@import '../../../styles.scss';

$bgColor: #1c1c1c;

.result-card {
    background-color: $bgColor; 
    color: $txtColor; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
  }
  
  .result-card:hover {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid $txtColor;
    padding-bottom: 10px;
  }
  
  p {
    margin: 10px 0;
  }
  
  .btn-primary {
    margin-top: 20px;
  }